<div class="row" id="proBanner">
  <div class="col-12">
    <span class="align-items-center purchase-popup">
      <p>Restrict area access. Perform employee movement tracking and use that as productivity monitoring and Time & Attendance</p>
      <a href="/signin"
        target="_blank" class="btn download-button purchase-button btn-purple ml-auto btn-info">Signup today</a>
      <i class="mdi mdi-close" (click)="toggleProBanner($event)" id="bannerClose"></i>
    </span>
  </div>
</div>

<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-home"></i>
    </span>
    Home
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <span></span>Overview
        <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
      </li>
    </ul>
  </nav>
</div>

<!-- stats -->
<div class="row">
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h4 class="font-weight-normal mb-3">Intrusions by Week
          <i class="mdi mdi-chart-line mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">0</h2>
        <h6 class="card-text">Increased by 0</h6>
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-info card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h4 class="font-weight-normal mb-3">Intrusions by Month
          <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">0</h2>
        <h6 class="card-text">Increased by 0</h6>
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-success card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h4 class="font-weight-normal mb-3">Employees Tracked
          <i class="mdi mdi-diamond mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">0</h2>
        <h6 class="card-text">Increased by 0</h6>
      </div>
    </div>
  </div>
</div>

<!-- map -->
<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card" id="map_canvas_dashboard" style="height: 85vh;">
    </div>
  </div>
</div>

<!-- table -->
<div class="row grid-margin">

  <!-- table -->

